table {
    margin-left: 70px;
    margin-right: 70px;
    border-collapse: separate;
    border-spacing: 0 2px;
    font-size: large;
}

table td {
    border: 1px solid black;
}

table td:first-child {
    font-weight: bold;
}

div.container {
    margin-left: 70px;
    margin-right: 70px;
    font-size: large;
}

h1,h2 {
    text-align: center;
}
.image-container {
    display: flex;
    gap: 10px; /* Adjust the spacing as needed */
}

div.image-container {
    text-align: center; /* Center text horizontally */
}

.image-container img {
    width: 70%;
    height: auto;
}