
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    width: 100%;
    max-width: 200px;
    height: 40px;
    position: relative;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: xx-large;
    font-weight: bold;
    color: gray;
}

th,
td {
    border: 1px solid transparent;
    text-align: left;
    padding: 8px;
}

.button_container {
    text-align: center;
}

.green_button {
    font-size: xx-large;
    color: white;
    font-weight: bold;
    margin-right: 50px;
    cursor: pointer;
    border: solid black;
    padding: 16px 20px;
    background-color: #5fa695;
}