h1,
h2,
button {
    margin-bottom: 20px;
}

h2 {
    padding-left: 20%;
    padding-right: 20%;
}

table {
    border-collapse: collapse;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th,
.button_container,
.center-container {
    text-align: center;
}

#deleteLogButton {
    padding: 5px 20px;
    color: white;
    border: none;
    font-weight: bold;
    background-color: red;
    margin-right: 50px;
    cursor: pointer;
}
.green_button {
    padding: 16px 20px;
    color: white;
    border: none;
    font-weight: bold;
    background-color: #5fa695;
    margin-right: 50px;
    cursor: pointer;
}

#instructions_button {
    margin-right: 10px;
}

.bulleted-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: large;
}

.bulleted-list {
    max-width: auto;
    margin: 0 auto;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

textarea {
    margin: 0 auto;
    max-width: 1000px;
    width: 100vw;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
}

.file-input-container {
    display: inline-block;
}

#file-input {
    display:none;
}